/*css for sign up form*/
body {
    background: #c0c0c0;
    font-family: Arial , sans-serif;
}

.signup-form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}


/*css style for choosesacco.php*/
.sacco-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sacco-container:hover {
    background-color: #E6E6FA;
}



.header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}


/*dashboard.php css*/


.background-image {
    background-image: url('https://media.sketchfab.com/models/292fbdceb43645c4b649f2b3ce1c33c5/thumbnails/de4e671404ba43e59cdce5424009de5c/ed045a93caa349acadd1d8958db7a25a.jpeg'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    background-color: transparent;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}

h1 {
    margin: bottom;
    font-size: 25px;
}

.dcontainer {
    margin-top: 20px;
}

.button {
    padding: 10px 20px;
    background-color: #4B0082;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    font-size: 16px;
}

.button:hover {
    background-color: #c0c0c0;
}

.top-right {
    position: absolute;
    top: 10px;
    right: 10px;
}

.link-button {
    display: inline-block;
    margin-left: 10px;
    padding: 5px 10px;
    background-color: transparent;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
}

.link-button:hover {
    background-color: #A9A9A9;
}

/* css for vehinfo.php*/

h1 {
    text-align: center;
    margin-top: 20px;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e0e0e0;
}

td:nth-child(1) {
    font-weight: bold;
}


